<section data-ng-controller="ShippingController" data-ng-init="findOne()">
    <span>{{shipping.created | date:'medium'}}</span>/
    <span>{{shipping.user.name}}</span>
    <h2>{{shipping.name}}</h2>
    <div data-ng-show="global.user._id == shipping.user._id">
        <a class="btn" href="/#!/shipping/{{shipping._id}}/edit">
        	<i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn" data-ng-click="remove();">
            <i class="glyphicon glyphicon-trash"></i>
        </a>
    </div>
    <div>Address: {{shipping.address1}}</div>
</section>
